/* my-account */
.woocommerce .address
  padding: 10px
  border: 1px solid #333
  background-color: #111
  border-radius: 4px

  .title
    position: relative

    h3
      float: none
      margin-top: 0.3em
      padding-bottom: 1em
      border-bottom: 1px solid #333

    .edit
      position: absolute
      top: 0.5em
      right: 0.5em

/* cart */
.woocommerce,
.woocommerce-page
  table.shop_table
    th
      border-bottom: 4px double #333

    td
      border-bottom: 1px solid #333

    tr:last-child
      td
        border-bottom: none

    input
      color: #333

  .cart-collaterals
    .cart_totals,
    .shipping_calculator
      width: auto
      float: none

      table
        td,th
          padding: 6px 10px

        th
          width: 40%