@charset "UTF-8"
@import "define"
@import "../bower_components/colors/sass/variables"
@import "../bower_components/font-awesome/scss/variables"

/* my-account */
.woocommerce .address
  padding: 10px
  border: 1px solid #333
  background-color: #111
  border-radius: 4px

  .title
    position: relative

    h3
      float: none
      margin-top: 0.3em
      padding-bottom: 1em
      border-bottom: 1px solid #333

    .edit
      position: absolute
      top: 0.5em
      right: 0.5em

/* cart */
.woocommerce,
.woocommerce-page
  table.shop_table
    th
      border-bottom: 4px double #333

    td
      border-bottom: 1px solid #333

    tr:last-child
      td
        border-bottom: none

    input
      color: #333

  .cart-collaterals
    .cart_totals,
    .shipping_calculator
      width: auto
      float: none

      table
        td,th
          padding: 6px 10px

        th
          width: 40%

  ul#shipping_method li
    text-indent: 0

    input[type=radio]
      margin-top: 0
      vertical-align: middle

  form

    &.checkout_coupon .form-group
      margin-bottom: 0

    .form-row
      select,
      textarea,
      input.input-text
        display: block
        width: 100%
        height: 38px
        padding: 8px 12px
        font-size: 14px
        line-height: 1.42857143
        color: #FFF
        background-color: #222
        border: 1px solid #282828
        border-radius: 4px
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

        &:focus
          border-color: #66afe9
          outline: 0
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)

      textarea
        height: auto

#cart-list
  .img-thumbnail
    margin-bottom: $gap-l

  h2, h3
    margin-top: 0

  dl
    border-top: 2px solid #444
    border-bottom: 2px solid #444
    margin: 0

  dt, dd
    line-height: 2.5em

    &:last-of-type
      border-top: 1px solid #333

  dd
    text-align: right

  .count
    padding-top: 32px
    font-size: 1.5em
    line-height: 1.5em
    text-align: center

    .alert
      margin-bottom: 0

    strong
      font-size: 1.5em
      line-height: 1.2em

  .edit
    color: $success-text

    &:empty:after
      color: $link-text
      content: '[编辑]'

/* admins */
.order_actions .output
  display: block
  text-indent: -9999px
  position: relative
  padding: 0!important
  height: 2em!important
  width: 2em

  &:after
    content: '\f019'
    font-family: 'FontAwesome'
    font-weight: 400
    font-variant: normal
    text-transform: none
    -webkit-font-smoothing: antialiased
    margin: 0
    text-indent: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    line-height: 1.85